*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   width: 100%;
   height: 100%;
}
header{
    width: 100%;
    height: 50px;
    background: #000;
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:start;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:start;
}
li{
    padding: 10px 20px;  
}
li:hover{
    border-radius: 5px;
    background: #c7c9c7;
    border: none;
    color: #000;
}

