input {
  border: none !important;
  border-radius: none !important;
}

button {
  border: none !important;
  border-radius: none !important;
}

.ant-input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-input-outlined {
  border: none !important;
  box-shadow: none !important;
}
