*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
  list-style: none;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    border: 1px solid #ccc;
}
